{{!--
Sample event card
--}}

<article class="border-2 border-gray-400 rounded-xl p-2.5">
    <div class="grid grid-cols-2">
        <div>
            <p class="text-yellow-500 font-semibold text-3xl">08</p>
            <p class="text-yellow-500 text-xl">June</p>
        </div>
        <div>
            <p class="text-3xl text-gray-500 text-right">➔</p>
        </div>
    </div>
        
    <div class="my-2.5">
        <p class="text-gray-600 font-semibold text-3xl py-0.5">Discover+:</p>
        <p class="text-gray-600 font-semibold text-xl">Healthcare</p>
    </div>
</article>