<footer class="bg-black text-white py-4">
    <div class="w-4/5 block md:flex m-auto p">
        <img class='flex flex-wrap m-auto md:w-1/6' src='https://i2.wp.com/advisory.sg/wp-content/uploads/2018/07/ADVISORY-logo-1-white_yellow_text.png?resize=150%2C150&ssl=1'/>
        <div class="flex flex-wrap md:w-3/6">
            <div class="w-1/2 pb-3 md:w-1/4">
                <strong class="py-2 block leading-normal">
                    Who We Are
                </strong>
                <a href="#" class="block">
                    Our Team
                </a>
                <a href="#" class="block">
                    Our Partners
                </a>
                <a href="#" class="block">
                    About Us
                </a>
            </div>
            <div class="w-1/2 pb-3 md:w-1/4">
                <strong class="py-2 block leading-normal">
                    What We Do
                </strong>
                <a href="#" class="block">
                    Our Events
                </a>
                <a href="#" class="block">
                    Our Stories
                </a>
                <a href="#" class="block">
                    Our Impact
                </a>
            </div>
            <div class="w-1/2 pb-3 md:w-1/4">
                <strong class="py-2 block leading-normal">
                    Get Involved
                </strong>
                <a href="#" class="block">
                    Join Us
                </a>
                <a href="#" class="block">
                    Contact Us
                </a>
            </div>
            <div class="w-1/2 pb-3 md:w-1/4">
                <strong class="py-2 block leading-normal">
                    Stay Connected
                </strong>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
        <div class="block md:w-2/6">
            <strong class="py-2 block leading-normal">
                Subscribe to Advisory Via Email
            </strong>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor.
            </p>
            <form>
                <input
                    type="email"
                    value="Email Address"
                    class="w-full leading-6 my-2 rounded-lg text-gray-400"
                />
                <button
                    type="submit"
                    class="bg-yellow-500 text-black w-full leading-6 rounded-lg"
                >
                    SUBSCRIBE
                </button>
            </form>
        </div>
    </div>
    <img />
</footer>