<footer class=" bg-black text-white py-4">
    <div class='w-4/5 block md:flex m-auto p'>
        <div class='flex flex-wrap md:w-4/6'>
            <div class='w-1/2 md:w-1/4'>
                <p class="py-2">
                    WHO WE ARE
                </p>
                <a href="#" class="block">
                    Our Team
                </a>
                <a href="#" class="block">
                    Our Partners
                </a>
                <a href="#" class="block">
                    About Us
                </a>
            </div>
            <div class='w-1/2 md:w-1/4'>
                <p class="py-2">
                    WHAT WE DO
                </p>
                <a href="#" class="block">
                    Our Events
                </a>
                <a href="#" class="block">
                    Our Stories
                </a>
                <a href="#" class="block">
                    Our Impact
                </a>
            </div>
            <div class='w-1/2 md:w-1/4'>
                <p class="py-2">
                    GET INVOLVED
                </p>
                <a href="#" class="block">
                    Join Us
                </a>
                <a href="#" class="block">
                    Contact Us
                </a>
            </div>
            <div class='w-1/2 md:w-1/4'>
                <p class="py-2">
                    STAY CONNECTED
                </p>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
        <div class="block md:w-2/6">
            <p class="py-2">
                SUBSCRIBE TO ADVISORY VIA EMAIL
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor.
            </p>
            <form>
                <input
                    type="email"
                    value="Email Address"
                    class="w-full leading-6 my-2 rounded-lg text-gray-400"
                />
                <button
                    type="submit"
                    class="bg-yellow-500 text-black w-full leading-6 rounded-lg"
                >
                    SUBSCRIBE
                </button>
            </form>
        </div>
    </div>
    <img />
</footer>