{{#foreach navigation}}
    <a href="{{url absolute="true"}}"
        class="no-underline">
        {{label}}
    </a>
{{/foreach}}
{{#unless isSecondary}}
        <a href="#searchinghost-easy">
            <i class="fas fa-search"></i>
        </a>
{{/unless}}
