{{!< default}}

<div class="w-full max-w-screen-xl mx-auto my-0">
    <div class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li
                data-target="#carouselIndicators"
                data-slide-to="0"
                class="active"
            ></li>
            <li data-target="#carouselIndicators" data-slide-to="1"></li>
            <li data-target="#carouselIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img
                    class="d-block w-100"
                    src="http://via.placeholder.com/750"
                />
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        WHO WE ARE
                    </h5>
                    <p>
                        <b>
                            Advisory
                        </b>
                        is a fully youth-led nonprofit dedicated to empowering young Singaporeans to make informed career and further education choices.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    class="d-block w-100"
                    src="http://via.placeholder.com/750"
                />
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        WHAT WE DO
                    </h5>
                    <p>
                        Advisory conducts interviews with professionals from a wide range of fields and careers.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    class="d-block w-100"
                    src="http://via.placeholder.com/750"
                />
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        INTERACTIVE EXPERIENCE
                    </h5>
                    <p>
                        Advisory organizes a wide range of events, giving youths the chance to interact with professionals.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    class="d-block w-100"
                    src="http://via.placeholder.com/750"
                />
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        ANNUAL REPORT
                    </h5>
                </div>
            </div>
        </div>
        <h2 class="text-center m-4">
            Upcoming Events
        </h2>
        <div id="event-card-container">
            Loading...
        </div>
        
    </div>
</div>