{{!< default}}

<div class="w-full max-w-screen-xl mx-auto my-0 prose lg:prose-xl max-w-none">
    <h2 class="text-center m-4">
        Upcoming Events
    </h2>
    <div id="event-card-container">
        Loading...
    </div>
</div>