{{!< default}}

<div class="w-full max-w-screen-xl mx-auto my-0 max-w-none prose">
    <h2 class="text-center m-4">
        Featured Stories
    </h2>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-20 gap-y-10 w-4/5 m-auto">
    {{#get "posts" include="tags" limit="3" order="published_at desc" filter="tags:-[hash-event]"}}
        {{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
    {{/get}}
    </div>
    <h2 class="text-center m-4">
        Upcoming Events
    </h2>
    {{> "event-cards"}}
</div>
