{{!< default}}

<div class="gh-page">
    <div class="gh-container">
        <div class="gh-page-head">
            <h1 class="gh-header">Stories</h1>
        </div>
        <div class="featured-post-slider">
            <!-- TO DO -->
        </div>
        <div class="stories-description gh-canvas mb-4">
            <h3 class="gh-header">Types of Stories</h3>
            <p>With our <strong>Conversations, Insights and Reflections</strong> series, Advisory hopes to provide a platform through which youths can learn about various professions.</p>
            <div class="d-flex justify-content-center">
                <div class="p-4">
                    <img src="/assets/icons/scrollinggraphic_conversation.png" alt="Conversations" height="261">
                    <p class="text-center font-weight-bold">CONVERSATIONS</p>
                </div>
                <div class="p-4">
                    <img src="/assets/icons/scrollinggraphic_insight.png" alt="Insights" height="261">
                    <p class="text-center font-weight-bold">INSIGHTS</p>
                </div>
                <div class="p-4">
                    <img src="/assets/icons/scrollinggraphic_reflection.png" alt="Reflections" height="261">
                    <p class="text-center font-weight-bold">REFLECTIONS</p>
                </div>
            </div>
            <ol>
                <li>CONVERSATIONS: Interviews with entry- to mid-level working professionals, published in Q&amp;A form. Comprises a short introduction to the interviewee and interview transcript. Each interviewee will select the 5 most important qualities needed for the job (as per the 42 Harvard Competencies). These will serve as the bread and butter of Advisory’s content.</li>
                <li>INSIGHTS: Articles communicating industry concepts and jargon to students in easily-accessible writing — explaining terms (i.e. bitcoin, blockchain), discussions on the future of various industries, and discussions on the world economy. Writers include both Correspondents (through interviews with professionals/research) and professionals themselves.</li>
                <li>REFLECTIONS: Narrative, in-depth accounts of interactions with mid- to upper-level working professionals. Discussions about values, work-life balance, advice for youths, and other concepts to personalize interviewees and provide youth with role models.</li>
            </ol>
        </div>
        <div class="filter p-4">
            <h3 class="gh-header">Tags</h3>
            <div class="col-xs-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 pt-4">
                <div class="row">
                    <div class="col-xs-12 col-md-6 pb-4">
                        <select id="primary-filter" class="selectpicker" title="Select Industry(s)" multiple data-style="btn-secondary" data-actions-box="true" data-size="5" data-width="100%">
                            {{#get "tags" limit="all"}}
                            {{#foreach tags}}
                                <option class="filter-selection">{{name}}</option>
                            {{/foreach}}
                            {{/get}}
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-6 pb-4">
                        <select id="internal-filter" class="selectpicker internal-tag" title="Select Article Type(s)" multiple data-style="btn-secondary" data-actions-box="true" data-size="5" data-width="100%">
                            <option class="filter-selection internal-tag">Conversations</option>
                            <option class="filter-selection internal-tag">Insights</option>
                            <option class="filter-selection internal-tag">Reflections</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="gh-postfeed">
            {{pagination}}
            {{#get "posts" limit=@config.posts_per_page page=pagination.page include="tags,authors"}}
                {{! Loop through our articles collection }}
                {{#foreach posts}}
                    {{> "card"}}
                {{/foreach}}
                {{! Use our pages (pagination) object }}
            {{/get}}
        </div>
            {{pagination}}
    </div>
</div>

