{{!< default}}

<div class="w-full max-w-screen-xl mx-auto my-0">
    {{#tag}}
    <header class="prose lg:prose-xl mx-auto text-center">
        <h1>{{name}}</h1>

        <p>
            {{#if description}}
                {{description}}
            {{/if}}
        </p>

        {{#if feature_image}}
            <img class="gh-page-image" src="{{feature_image}}" alt="{{name}}" />
        {{/if}}
    </header>
    {{/tag}}

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-20 gap-y-10 w-4/5 my-4 mx-auto">
    {{#foreach posts}}
        {{> "postcard"}} {{!-- partials/card.hbs --}}
    {{/foreach}}
    </div>
</div>
