/*

This is a development CSS file which is compiled to a minified
production stylesheet in assets/built/screen.css using: gulp dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */
@import "vars.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";

/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";
@import "ghost/footer.css";

/* Toggle dropdown */
@import "toggledropdown.css";

/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html,
.gh-viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fff;
}

.gh-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.gh-page {
    padding: 0 4vw;
}

.gh-article {
    padding: 8vmin 0;
}

.gh-postfeed {
    padding: 8vmin 0;
}

.gh-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.gh-head-actions a {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.gh-head-actions a svg {
    height: 1.8rem;
    fill: currentcolor;
}

.gh-head-actions a:first-child svg {
    margin-left: 20px;
}

.gh-head-actions a:last-child svg {
    height: 2rem;
}

/* Index
/* ---------------------------------------------------------- */

.gh-card:not(:first-child) {
    margin: 8vmin auto 0;
}

.gh-card-image {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
}

.gh-card-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-card-content {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.6rem;
}

.gh-card-content p {
    margin: 0.5rem 0;
    padding: 0 2vmin;
}

.gh-card-content > strong {
    display: inline-block;
    padding: 1px 0;
    font-weight: 500;
    box-shadow: 0 -1px 0 0 inset currentColor;
    opacity: 0.5;
}

/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
    margin: 0 auto;
    padding: 8vmin 0 4vmin;
    text-align: center;
}

.gh-page-image {
    margin: 4vmin 0 0 0;
}

.gh-page-head > p {
    max-width: 720px;
    margin: 0.3em auto 0;
    padding: 0 6vmin;
    font-size: 1.3em;
    line-height: 1.4em;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .gh-page-head > p {
        font-size: 1.6rem;
    }
}

/* Post
/* ---------------------------------------------------------- */

.gh-header {
    text-align: center;
}
.gh-header > :first-child {
    margin: 0 0 1rem 0;
}
.gh-header > :not(:first-child) {
    margin: 1rem 0;
}

.gh-post-meta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}
.gh-post-meta > :after {
    padding: 0 1rem;
    content: "|";
}
.gh-post-meta > :last-child:after {
    content: "";
}
.gh-post-meta .gh-post-meta-content-item:after {
    content: ", ";
}
.gh-post-meta .gh-post-meta-content-item:last-child:after {
    content: "";
}

.gh-feature-image {
    width: 100%;
    margin: 1rem 0 0 0;
}
.gh-feature-image-caption {
    margin: 1rem 0 0 0;
    text-align: center;
}

.gh-post-footer {
    margin: 4rem 0;
}
.gh-post-footer .gh-post-comments-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gh-post-footer .gh-post-comments-header-item {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.2rem;
    letter-spacing: 0.5px;
}
.gh-post-footer .gh-post-comments-other {
    display: flex;
    flex-direction: row;
}
.gh-post-footer .gh-post-comments-other > * {
    margin-left: 2rem;
}

.tag-hash-conversations {
    background: #e2f0d9;
}
.tag-hash-insights {
    background: #bdd7ee;
}
.tag-hash-reflections {
    background: #daabe7;
}

@media (max-width: 700px) {
    .gh-post-meta {
        flex-direction: column;
    }
    .gh-post-meta > :after {
        padding: 0;
        content: "";
    }
}

/* Reading progress bar
/* ---------------------------------------------------------- */

.reading-progress-bar {
    width: 100%;
    display: block;
    background-color: #ff8600;
    height: 4px;
}

.progress-bar-container {
    display: none; /* Don't show when viewport has not scrolled into the content */
    width: 100%;
    margin: auto;
}

.sticky {
    background-color: #fff;
    z-index: 1000;
    display: block;
    top: 0;
    position: fixed;
    border: 0.8px solid grey;
}

.animate-header-dropdown {
    animation: header-dropdown 1s;
}

@keyframes header-dropdown {
    from {
        top: -70px;
    }

    to {
        top: 0px;
    }
}

/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
    height: 12vmin;
    width: 12vmin;
    margin: 0 auto 1.5em;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.gh-author-meta {
    margin: 2vmin 0 0 0;
    font-size: 1.2em;
}

.gh-author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-author-links a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
    display: block;
    content: "";
    margin: 0 1.25vmin 0 0;
    height: 1em;
    width: 1px;
    background: rgba(0, 0, 0, 0.3);
    transform: rotate(20deg);
}

@media (max-width: 700px) {
    .gh-author-meta {
        font-size: 1.6rem;
    }
}
